.info-container {
  position: relative;
  overflow: visible;
}

.info-question-mark {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 20px;
  height: 20px;
  padding: 4px;

  border-radius: 50%;
  background-color: #1976d2;
  color: #ffffff;

  user-select: none;
  cursor: pointer;
}

.info-question-mark:hover + .info-content,
.info-question-mark:active + .info-content {
  display: block;
  opacity: 1;
}

.info-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  transform: translate(calc(-50% + 10px), 10px);

  padding: 12px;
  min-width: 150px;
  border-radius: 5px;
  background-color: #212121;
  font-size: 0.8rem;

  opacity: 0;
  transition: opacity 0.3s;

  user-select: none;

  z-index: 2;
}
