.info-wrapper-visible-container {
  display: grid;
  grid-template: auto / 1fr 24px;
  align-items: center;
  gap: 8px;

  div:first-child {
    justify-self: end;
  }
}

.info-wrapper-hidden-container {
  text-align: right;
  font-size: 0.8rem;
  padding: 0 4px;
}

.info-wrapper-hidden-container.hidden {
  display: none;
}

.info-question-mark {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  padding: 4px;

  border-radius: 50%;
  background-color: #1976d2;
  color: #ffffff;

  user-select: none;
  cursor: pointer;
}

.info-question-mark.expanded {
  background-color: dimgray;
}
