.my-select {
  display: grid;
  grid-template: auto / 2fr 1fr;
  gap: 8px;
  align-items: center;

  label {
    text-align: right;
  }

  select {
    max-width: 100px;
  }

  select,
  option {
    font-family: inherit;
  }
}
