.my-text-input {
  display: grid;
  grid-template: auto / 2fr 1fr;
  gap: 8px;
  align-items: center;

  label {
    text-align: right;
  }

  input {
    max-width: 92px;
    font-family: inherit;
  }
}
