#root {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
}

main {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
pre {
  margin: 0;
}

hr {
  height: 1px;
  width: 100%;
  border: none;
  background-color: silver;
}

main {
  max-width: 340px;
}

pre {
  display: inline;
}

p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.inputs-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.formatter-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}
